body {
    background-color: #e5e5e5;
}

main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.entrada {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.input-texto {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    border-color: #e5e5e5;
    background-color: #e5e5e5;
    color: #0A3871;
    height: 350px;
    width: 450px;
}

.salida {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.mensaje {
    display: flex;
    justify-content: flex-end;
    margin-left: 90px;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;
    width: 350px;
    height: 500px;
    color: #495057;
    border-color: #e5e5e5;
    border-radius: 15px;
}

.informacion {
    width: 12px;
}

.aviso {
    font-size: 12px;
    color: gray;
}

.encriptar {
    border-radius: 6px;
    height: 40px;
    width: 200px;
    background-color: #0A3871;
    border-color: #0A3871;
    color: white;
}

.desencriptar {
    border-radius: 6px;
    height: 40px;
    width: 200px;
    background-color: #D8DFE8;
    border-width: 0.1px;
}

.copiar {
    background-color: white;
    border-color: black;
    margin-top: -60px;
    margin-left: 120px;
    border-radius: 6px;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}