body {

    background-color: #CCCCCC;

}

#banner {

    width: 100%;

}

h1 {

    text-align: center;

}

p {

    text-align: center;

}

em strong {

    color: red;

}

#mission {

    font-size: 20px;

}

/*

    ALFABETOS:
    (Letras)   A, B, C, D, E, F, ...
    (Numérico) 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
    (Binario)  0, 1
    (Hexadecimal) 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F

    LOS COLORES SE REPRESENTAN CON 6 ELEMENTOS:
    _ _ _ _ _ _
    r r g g b b
    (R,  G,  B)

    donde:
    0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F
    Oscuro                                   Claro

    por lo tanto, si quisieramos escribir negro sería de la siguiente manera:

    0 0 0 0 0 0
    - - - - - -
    r r g g b b

    Blanco sería:
    F F F F F F
    - - - - - -
    r r g g b b
    
    Rojo sería:
    F F 0 0 0 0
    - - - - - -
    r r g g b b

*/