html {
    padding-top: 10px;
    font-size: 16px;
}

body {
    background-color: #E5E5E5;    
}

.inicio {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nuevaPalabra {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entradaPalabra {
    width: 600px;
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    color: #0A3871;
    font-size: 16px;
}

.informacion {
    font-size: 14px;
    color: gray;
}

.botonPrimario {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border-color: #0A3871;
    background-color: #0A3871;
    color: white;
}

.botonSecundario {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    background-color: #E5E5E5;
    border-color: #0A3871;
}

.juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hombre {
    text-align: center;
    width: 200px;
    padding-bottom: 3.5rem;
}

.adivinado {
    text-align: center;
}

.letra {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    vertical-align: middle;
    text-align: center;
    font-size: 1.8rem;
    color: #0A3871;
    text-decoration: underline;
}